<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>Список товаров</title>
</head>
<body>
<div id = "app" class="container-fluid">
    <h1>Список товаров</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Фильтры</h5>
                    <div class="card-text">
                        <form>
                            <div class="form-group">
                                <select v-model="brands" class="form-control">
                                    <option disabled value=""> Бренд</option>
                                    <option>Super</option>
                                    <option>Puper</option>
                                    <option>Cool</option>
                                    <option>Like</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select v-model="sizes" class="form-control">
                                    <option disabled value="">Размер</option>
                                    <option>29</option>
                                    <option>31</option>
                                    <option>35</option>
                                    <option>37</option>
                                    <option>42</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select v-model="colors" class="form-control">
                                    <option disabled value="">Цвет</option>
                                    <option>Синий</option>
                                    <option>Красный</option>
                                    <option>Зеленый</option>
                                    <option>Белый</option>
                                    <option>Серый</option>
                                </select>
                            </div>
                            <div class="text-right">
                                <button v-on:click = "cleaning" :disabled = "!isCleaning" class="btn btn-sm btn-secondary">Сбросить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-light" role="alert">
        Найдено {{filteredProducts.length}} товара
    </div>
    <div class="row no-gutters">
        <div v-for = "product in filteredProducts" class="col-6 pr-2">
            <one-product :product="product"></one-product>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>

</body>
</html>